%header.intro-header{:style => "background-image: url('/assets/tea-pot.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1 Administrator
          %hr.small
            %span.subheading CMS.
= render 'layouts/flash'
%h1 Edit content
= link_to 'Start Blog Post', new_post_path
= link_to 'Continue Blog Post', continue_post_path
%h1 Coming soon
About
Resume
Projects