%header.intro-header{:style => "background-image: url('/assets/tea-pot-2.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .page-heading
          %h1 About Me
          %hr.small
            %span.subheading This is what I do.
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      %h1 I'm Rachel. Nice to meet you.
      %p
        Hi! I'm Rachel Kawula, a graduate student at Mills College in Oakland, California. In May 2015, I graduated with a
        = succeed "," do
          %a{:href => "https://www.youtube.com/watch?v=vUAvfCU8rzA"} B.A. in English
        and continued on to the Interdisciplinary Computer Science accelerated Master of Arts program. I'm expecting to graduate May 2016 with my M.A., and am researching to pin down my thesis topic: exploring machine learning, AI for video game NPCs, and figuring out how to make unscripted NPC behavior tell its own narrative.
      %h1 A little experience.
      %p
        I am a late comer to programming and computer science. The first class I had was an Introduction to Computer Science class, using Java, in Fall 2013. I was hooked and since then, have built several websites (Ruby on Rails, Python/webapp2, and a small Node.js API site). In Spring 2015 I founded the Mills Computer Science club along with several friends at Mills College, and during Summer 2015 I worked as a Software Development Engineer Intern at Gap Inc. There, I worked doing Java back-end development, and had a lot of exposure to system design in a complex internal environment, and developed an interest in DevOps and deployment automation tools, such as Chef.
      %h1 My projects.
      %p
        TODO: Link projects and GitHub.
      %h1 My job search.
      %p
        I'm currently looking for work that would begin after my graduation, so Summer 2016 or Fall 2016. My techncal skills include full-stack Ruby on Rails, language proficiency in Java, Ruby, and Python, a working knowledge of JavaScript, keen interest in graph theory and state machines, AI and machine learning, video game development, and learning more about distributed systems and parallelization.
      %h1 My details.
      %p
        To learn more about my professional skills, please check my
        = succeed "," do
          %a{:href => "http://www.google.com"} resume
        or my
        = succeed "!" do
          %a{:href => "http://www.linkedin.com/in/rkawula"} LinkedIn
      %p My non-tech hobbies include jazz piano (pop song arrangement and improvization), my pet project novella, playing video games, and website full-stack development.