%header.intro-header{:style => "background-image: url('img/home-bg.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1 Rachel's Blog
          %hr.small
            %span.subheading computers.
/ Main Content
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .post-preview
        %a{:href => post_path}
          %h2.post-title
            Man must explore, and this is exploration at its greatest
          %h3.post-subtitle
            Problems look mighty small from 150 miles up
        %p.post-meta
          Posted by
          %a{:href => "#"} Start Bootstrap
          on September 24, 2014
          %hr
            / Pager
            %ul.pager
              %li.next
                %a{:href => "#"} Older Posts &rarr;