%header.intro-header{:style => "background-image: url('/assets/tea-pot-3.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .page-heading
          %h1 Resume
          %hr.small/
          %span.subheading Know more about my work.