%header.intro-header{:style => "background-image: url('/assets/tea-pot-3.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .page-heading
          %h1 Resume
          %hr.small/
          %span.subheading Know more about my work.
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      %h1 Education
      %p
        %i Mills College - Oakland, California
      %p
        %i Spring 2015
        %br
        Bachelor's of Arts in English, emphasis Creative Writing
        %br
        %small Summa cum laude, 3.97 GPA
      %p
        %i Expected Spring 2016
        %br
        Master's of Arts in Interdisciplinary Computer Science
        %br
        %small 4.0 Major GPA
      Received the Spring 2015
      %a{href: "http://www.mills.edu/administration/provosts_office/student_awards.php#computer"}Lennox McEntyre Award
      for excellence in computer science and contributions to the computer science community.
      %h1
        Projects - 
        %a{href: "https://github.com/rkawula"}
          my GitHub
      %p
      %ul
        %li
          %a{href: "http://millscc.herokuapp.com"} The Mills Computer Club website
        Created the CRUD operations for user profiles, the OmniAuth login, the calendar feature, and some theme tweaks to personalize our website. Built with Ruby on Rails.
        %br
        %br
        %li
          %a{href: "http://vast-zone-853.appspot.com/"} Web visualization for Wildlife Conservation Society
        Learned D3 to implement a collapsible, directed, acylic graph based off of data grabbed through AJAX calls to an external database. I created the entire Python back-end, including a script to generate trees based off of user requests in real-time. (Note that the external database has been taken down, so our AJAX calls no longer work)
        %br
        %br
        %li
          %a{href: root_path} My personal website (you're here!)
        Built with Ruby on Rails, using RSpec and Cucumber for testing. I also use Chef and Vagrant for a controlled, easily set up development/testing environment.
      %p Some of my unshareable projects include:
      %ul
        %li Web portal for Gap Inc's Business Intelligence tools.
        %li Java birthday desktop application.
      %h1 Work experience
      %p TODO
      %h1 Skills
      %p TODO
      %h1 What makes me different?
      %p TODO