%header.intro-header{:style => "background-image: url('/assets/tea-pot-3.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .page-heading
          %h1 Resume
          %hr.small/
          %span.subheading Know more about my work.
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      %h1 Education
      %p
        %b Mills College - Oakland, California
        %br
        %i Spring 2015
        %br
        Bachelor's of Arts in English, emphasis Creative Writing
        %ul
          %li Summa cum laude, 3.97 GPA
      %p
        %i Expected Spring 2016
        %br
        Master's of Arts in Interdisciplinary Computer Science
        %ul
          %li 4.0 Major GPA
          %li
            Received the Spring 2015
            %a{href: "http://www.mills.edu/administration/provosts_office/student_awards.php#computer"}Lennox McEntyre Award
            for excellence in computer science and contributions to the computer science community.
      %h1
        Projects - 
        %a{href: "https://github.com/rkawula"}
          my GitHub
      %p
        %i Fall 2015
        %br
        %a{href: root_path} My personal website (you're here!)
        %ul
          %li Built with Ruby on Rails
          %li Using RSpec and Cucumber for testing
          %li Set up Chef and Vagrant for a controlled, easily transferrable development/testing environment. 
          %li Dynamically-sized UI is done using the Twitter Bootstrap library.
      %p
        %i Summer 2015
        %br
        %b Web portal for Gap Inc's Business Intelligence tools.
        %ul
          %li Built full-stack with JRuby on Rails.
          %li Used Bootstrap for a device agnostic interface, and created a Ruby service to read updates from a database and provide dynamic notifications through a Server Sent Event stream.
          %li Wrote front-end JavaScript/jQuery script to listen and flash notifications.
          %li Wrote, tested, and debugged multithreading for the app. Created a service thread to poll the database for updates.
          %li Tested over 50% of the application with RSpec 3.3 and Cucumber. Used TDD and BDD for the last half of the application, and used Chef for dependency management for deployment.
          %li Implemented basic CRUD operations for a SQL/PostgreSQL database, created multiple tables (and join tables), and wrote hand-off documentation.
      %p
        %i Spring 2015
        %br
        %a{href: "http://millscc.herokuapp.com"} Mills Computer Club website
        %ul
          %li Wrote user stories for Agile development and led team of 5 to an MVP for a client
          %li Created the CRUD operations for user profiles
          %li Coded the OmniAuth login to allow only Mills college students to use our website
          %li Researched calendar library options, and used FullCalendar to implement the calendar feature
          %li Built with Ruby on Rails and tested with RSpec and Cucumber
      %p
        %i Spring 2015
        %br
        %a{href: "http://vast-zone-853.appspot.com/"} Web visualization for Wildlife Conservation Society
        %ul
          %li Learned D3.js and HTML5 to implement a collapsible, directed, acylic graph visualization
          %li Implemented front-end functionalities, including: text names, collapsible markers (only for relationship nodes), and styled root node
          %li Wrote JavaScript to make an AJAX request to our Google AppEngine webserver. This call hits an endpoint that I connected to a Python script.
          %li Wrote the back-end Python to get data from a third-party endpoint, parse the JSON response, and return a nested JSON tree based off of user requested roots in real-time
          %li Resolved Circular Dependency errors and included validations to react to potentially bad data in the database
          %li (*Note that the external database has been taken down, so our AJAX calls no longer work)
      %p
        %i Spring 2014
        %br
        %b Java birthday desktop application
        %ul
          %li Exported as a JAR, this program allowed CRUD operations on birthday entries
          %li Implemented write/read from disk, serialization, and handled optional fields
          %li Wrote extensive validation and provided users with specific error messages
          %li Used custom Comparators to sort entries based on different criteria.
      %h1 Work experience
      %p
        %i Summer 2015
        %br
        %b Software Development Engineer Intern
        %br
        %small Gap Inc. -- San Francisco, CA
        %br
        %br
        As a member of the Supply Chain Engineering Team, I worked on the back-end for a Java Spring intranet system. This included using builder patterns, meeting 100% code quality as tracked through Sonar, pair programming on user stories as tracked through an Agile Jira board, and test driven development. I also wrote unit, component, and integration tests through JUnit and Mockito, and feature tests in Cucumber.
      %p
        %i Fall 2014 - present
        %br
        %b Teacher's Assistant and Tutor
        %br
        %small Mills College -- Oakland, CA
        %br
        %br
        As a Teacher's Assistant, I lead lab hours for students in Introduction to Computer Science and Intermediate Computer Science (Java I and Java II). My teaching duties include:
        %ul
          %li Java syntax and concepts, such as the heap, JVM, and console
          %li Basic programming concepts, such as the run-time stack, references, selection statements, debugging, and IDEs (Eclipse and Greenfoot)
          %li Strategies for refactoring and reading code
          %li Basic data structures and algorithms, such as O(n^2) sort algorithms, O(n) and O(logn) search algorithms, arrays, linked lists, and balanced binary trees
      %h1 Languages
      %p
        Java, Ruby, Python, JavaScript
      %h1 Skills & Technologies
      %p
        Java backend development, Ruby on Rails full-stack development, RESTful services, TDD, JUnit, Cucumber, RSpec, Git, Eclipse, IntelliJ, Sublime Text, Virtual Box, Vagrant, Chef, bash command line, threads.
      %h1 What makes me different?
      %p
        %ol
          %li
            My poetry and prose has been published in several locations: the De Anza College
            %i Red Wheelbarrow
            magazine, the Mills College
            %i Walrus
            journal, and the online
            %i Blackheart Magazine.
          %li
            I am a classically trained pianist, but recently have been playing popular songs from the radio by ear, and composing arrangements.