%header.intro-header
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .page-heading
          %h1 Profile
= render 'layouts/flash'
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      %h1 Current user
      %p #{@user.username}
      %p #{@user.email}